# Node.js dependencies
node_modules/

# npm logs
npm-debug.log*

# Environment files
.env

# Temporary system files
.DS_Store
Thumbs.db

# Frontend build files
frontend/public/build/

# Other files that don't need to be versioned
*.log